
/************************************************************************/
/* PSEUDO-TOGGLE BUTTON MADE OF ASP.NET CHECKBOX AND CSS3*/
div.divToggleButton input[type=checkbox] {
    display: none;
    white-space: nowrap;
}

div.divToggleButton label {
    display: block;
    float: left;
    cursor: pointer;
}

/* set the size of the pseudo-toggle button control */
div.divToggleButton input[type=checkbox]:checked + label::before,
div.divToggleButton input[type=checkbox]:not(:checked) + label::before,
div.divToggleButton input[type=checkbox] + label {
    width: 20pt;
    height: 20pt;
    line-height: 20pt;
}

/* additional styling: rounded border, gradient */
div.divToggleButton input[type=checkbox] + label {
    vertical-align: middle;
    text-align: center;
    font-size: 10pt;
    font-family: Arial, Calibri;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    background: #f0f0f0;
    /* gradient style (optional)*/
    background-image: -moz-linear-gradient(top, #fdfdfd, #f9f9f9 50%, #e5e5e5 50%, #fdfdfd);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#fdfdfd), color-stop(0.5, #f9f9f9), color-stop(0.5, #e5e5e5 ), to(#fdfdfd));
    background-image: linear-gradient(to bottom, #fdfdfd, #f9f9f9 50%, #e5e5e5 50%, #fdfdfd);
}

/* content to display and style pertinent to unchecked state*/
div.divToggleButton input[type=checkbox]:not(:checked) + label::before {
    content: "OFF";
    color: #303030;
    opacity: 0.6;
}

/* content to display and style pertinent to checked state*/
div.divToggleButton input[type=checkbox]:checked + label::before {
    content: "ON";
    color: #00b300;
    font-weight: bold;
}
/************************************************************************/

/************************************************************************/
/* PSEUDO-TOGGLE BUTTON MADE OF ASP.NET CHECKBOX AND CSS3*/
div.divToggleButton2 input[type=checkbox] {
    display: none;
    white-space: nowrap;
}

div.divToggleButton2 label {
    display: block;
    float: left;
    cursor: pointer;
}

/* set the size of the pseudo-toggle button control */
div.divToggleButton2 input[type=checkbox]:checked + label::before,
div.divToggleButton2 input[type=checkbox]:not(:checked) + label::before,
div.divToggleButton2 input[type=checkbox] + label {
    width: 20pt;
    height: 20pt;
    line-height: 20pt;
}

/* additional styling: rounded border, gradient */
div.divToggleButton2 input[type=checkbox] + label {
    vertical-align: middle;
    text-align: center;
    font-size: 10pt;
    font-family: Arial, Calibri;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    background: #f0f0f0;
    /* gradient style (optional)*/
    background-image: -moz-linear-gradient(top, #fdfdfd, #f9f9f9 50%, #e5e5e5 50%, #fdfdfd);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#fdfdfd), color-stop(0.5, #f9f9f9), color-stop(0.5, #e5e5e5 ), to(#fdfdfd));
    background-image: linear-gradient(to bottom, #fdfdfd, #f9f9f9 50%, #e5e5e5 50%, #fdfdfd);
}

/* content to display and style pertinent to unchecked state*/
div.divToggleButton2 input[type=checkbox]:not(:checked) + label::before {
    content: "OFF";
    color: #303030;
    opacity: 0.6;
}

/* content to display and style pertinent to checked state*/
div.divToggleButton2 input[type=checkbox]:checked + label::before {
    content: "ON";
    color: #00b300;
    font-weight: bold;
}
/************************************************************************/
.auto-style4 {
    width: 249px;
    text-align: right;
}


/************************************************************************/
/* PSEUDO-TOGGLE BUTTON MADE OF ASP.NET CHECKBOX AND CSS3*/
div.divToggleButton3 input[type=checkbox] {
    display: none;
    white-space: nowrap;
}

div.divToggleButton3 label {
    display: block;
    float: left;
    cursor: pointer;
}

/* set the size of the pseudo-toggle button control */
div.divToggleButton3 input[type=checkbox]:checked + label::before,
div.divToggleButton3 input[type=checkbox]:not(:checked) + label::before,
div.divToggleButton3 input[type=checkbox] + label {
    width: 20pt;
    height: 20pt;
    line-height: 20pt;
}

/* additional styling: rounded border, gradient */
div.divToggleButton3 input[type=checkbox] + label {
    vertical-align: middle;
    text-align: center;
    font-size: 10pt;
    font-family: Arial, Calibri;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    background: #f0f0f0;
    /* gradient style (optional)*/
    background-image: -moz-linear-gradient(top, #fdfdfd, #f9f9f9 50%, #e5e5e5 50%, #fdfdfd);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#fdfdfd), color-stop(0.5, #f9f9f9), color-stop(0.5, #e5e5e5 ), to(#fdfdfd));
    background-image: linear-gradient(to bottom, #fdfdfd, #f9f9f9 50%, #e5e5e5 50%, #fdfdfd);
}

/* content to display and style pertinent to unchecked state*/
div.divToggleButton3 input[type=checkbox]:not(:checked) + label::before {
    content: "OFF";
    color: #303030;
    opacity: 0.6;
}

/* content to display and style pertinent to checked state*/
div.divToggleButton3 input[type=checkbox]:checked + label::before {
    content: "ON";
    color: #00b300;
    font-weight: bold;
}
/************************************************************************/
.auto-style4 {
    width: 249px;
    text-align: right;
}

.auto-style5 {
    font-size: small;
}

.auto-style6 {
    font-size: x-small;
}
